@import url('https://fonts.googleapis.com/css?family=Fira+Code|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('./images/bg.png');
}

.app {
	display: flex;
}

.bar {
	background-image: url('./images/bar.png');
	background-color: #085047;
	width: 10%;
}

.border {
	border: 1px solid grey;
	border-radius: 20px;
	margin-top: 5vh;
	width: 60%;
	margin-left: 20%;
}

.social {
	border: 1px solid white;
	width: 20%;
	margin-left: 40%;
	display: flex;
	justify-content: space-around;
}

.numb {
	color: white;
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	opacity: 0.2;
	font-family: Fira Code;
}

.n {
	margin: 1.8px;
}

.skills {
	display: flex;
	flex-direction: column;
}
h1 {
	color: white;
	font-size: 3.5em;
	font-family: 'Roboto';
	text-align: center;
}

h2 {
	color: white;
	font-size: 2em;
	text-align: center;
}

.reactcode {
	opacity: 0.15;
	color: white;
	text-align: end;
	font-size: 1.1em;
	margin-top: 1vh;
	font-family: 'Fira Code', monospace;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5vh;
	font-family: 'Indie Flower', cursive;
}

.nav-item {
	color: white;
	font-size: 2em;
	margin-right: 5%;
	text-decoration: none;
}
.body {
	width: 80%;
	overflow: none;
}

.made {
	color: white;
	font-size: 1.5em;
	text-align: end;
	opacity: 0.5;
	margin-top: 3vh;
	font-family: Fira Code;
}
